html {
	font-size: 16px ;
}

header {
	background-color: #86b9ff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	min-width: 100%;
	max-height: 100px;
	text-align: right;
	box-shadow: 0px 10PX 10px #000000;
	margin-top: 0;
	margin-right: 10px;
	padding-right: 10px;

}





p {
	font-size: 1em;
	font-family: "Kanit", sans-serif;
	font-weight: 200;
}

ol {
	font-size: 1em;
	font-family: "Kanit", sans-serif;
	font-weight: 200;
}

ul {
	font-size: 1em;
	font-family: "Kanit", sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 4em;
	font-family: "Kanit", sans-serif;
	font-weight: 100;
	font-style: italic;
	color: #ffffff;
	padding-right: 5px;

}

h2 {
	font-size: 1em;
	font-family: "Kanit", sans-serif;
	font-weight: 400;

}

h3 {
	font-size: 1.5em;
	font-family: "Kanit", sans-serif;
	color: white;
	background-color: black;
}

h4 {
	font-size: 1em;
	font-family: "Pacifico", serif;
}

.content {
	background-color: #ababb0;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

.persona {
	background-color: white;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;


}

.persona h1 {
	font-size: 2em;
	font-family: "Kanit", sans-serif;
	font-weight: 100;
	font-style: italic;
	color: #ffffff;
	padding: 0;
	text-align: center;
	background-color: #86B9FF;
}

.persona img {
	max-width: 280px;



}

.profile {
	display: inline-block;
	max-width: 290px;
	height: auto;
	background-color: white;

}

.descript {
	display: inline-block;
	max-width: 290px;
	height: auto;
	vertical-align: top;
	background-color: white;

}

.needs {
	display: inline-block;
	max-width: 290px;
	vertical-align: top;
	background-color: white;
}

.goals {
	background-color: white;
}