/***************************************************
 * CSS Stylesheet for Epics in jpegery
 * *************************************************
 *
 * Built to be loaded after Bootstrap
 *
 * This Stylesheet is not for main jpegery site,
 * only for internal documentation.
 *
 ***************************************************/


/* Adds gray border around personas */
.personaborder {
	border: 5px solid dimgray;
	padding: 10px;
	margin: 10px;
}

/* Makes persona rows equal height despite content length */
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* Begin Footer Styles */
.footer {
	color: cornflowerblue;
	margin: 10px;
	padding: 2px;
}

.footerBody {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footerMain {
	flex: 1 0 auto;
}
/* End Footer Styles */