<phpunit>
	<testsuite>
		<testsuite name="Jpegery">
			<!--<file>CommentTest.php</file>-->
			<!--<file>FollowerTest.php</file>-->
			<!--<file>ImageTest.php</file>-->
			<file>ImageTagTest.php</file>
			<!--<file>ProfileTest.php</file>-->
			<!--<file>TagTest.php</file>-->
			<!--<file>VoteTest.php</file>-->
		</testsuite>
	</testsuite>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../php/classes</directory>
		</whitelist>
	</filter>
</phpunit>
