<phpunit>
	<testsuites>
		<testsuite name="Jpegery">
			<!--<file>CommentTest.php</file>-->
			<!--<file>FollowerTest.php</file>-->
			<!--<file>ImageTest.php</file>-->
			<!--<file>ImageTagTest.php</file>-->
			<!-->ProfileTest.php</-->
			<file>TagTest.php</file>
			<!--file>VoteTest.php</file-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../php/classes</directory>
		</whitelist>
	</filter>
</phpunit>